@page "/bookings/create"
@using ResourceHub.Client.Services
@using ResourceHub.Shared.Forms
@using ResourceHub.Shared.DTOs
@using ResourceHub.Shared.QueryParams;
@using ResourceHub.Client.Components
@inject IBookingService BookingService
@inject IResourceService ResourceService
@inject NavigationManager Navigation


<h3 class="page-title">Create Booking</h3>

@if (resources == null)
{
    <p>Loading...</p>
}
else
{
    @if (!string.IsNullOrEmpty(error))
    {
        <p class="error">@error</p>
    }

    <div class="form-container">
        <BookingForm Model="model" 
                    Resources="resources" 
                    SubmitText="Create" 
                    OnSubmit="HandleCreate" 
                    OnCancel="Cancel"
        />
    </div>
}

@code
{
    private BookingFormModel model = new();
    private List<ResourceDto>? resources;
    private string? error;

    protected override async Task OnInitializedAsync()
    {
        var result = await ResourceService.GetResourcesAsync(new ResourceQueryParams
        {
            PageSize = 100,
            IsAvailable = true
        });

        resources = result?.Data.ToList();
    }

    private async Task HandleCreate(BookingFormModel model)
    {
        error = null;

        var dto = new CreateBookingDto
        {
            ResourceId = model.ResourceId,
            StartTime = model.StartTime,
            EndTime = model.EndTime,
            BookedBy = model.BookedBy,
            Purpose = model.Purpose
        };

        var response = await BookingService.CreateBookingAsync(dto);

        if (response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/bookings");
            return;
        }

        if (response.StatusCode == System.Net.HttpStatusCode.Conflict)
        {
            error = "This resource is already booked for the selected time.";
            return;
        }

        error = "Something went wrong while creating the booking.";
        
    }

    private void Cancel()
    {
        Navigation.NavigateTo("/bookings");
    }
}

